Repository opensearch-project/skills, pull requests merged in 2024-02, with the labels that each got.

#172 fix UT bug
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/test/java/org/opensearch/agent/tools/PPLToolTests.java
Labels: backport 2.x

#173 Increase wait time to avoid flaky test
  src/main/java/org/opensearch/agent/tools/VisualizationsTool.java
  src/test/java/org/opensearch/integTest/ToolIntegrationTest.java
Labels: backport 2.x

#179 Add agent framework configuration to make IT pass
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/VisualizationsToolIT.java
Labels: backport 2.x

#181 fixPPLAllowedFields
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#131 add previous key for PPL tool
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/main/resources/org/opensearch/agent/tools/PPLDefaultPrompt.json
  src/test/java/org/opensearch/agent/tools/PPLToolTests.java
  src/test/java/org/opensearch/integTest/PPLToolIT.java
  src/test/java/org/opensearch/integTest/ToolIntegrationTest.java
Labels: backport 2.x

#185 fix: trim index name in parameters for PPL tool
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#184 (PPLTool) update claude and openai prompts
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/main/resources/org/opensearch/agent/tools/PPLDefaultPrompt.json
Labels: backport 2.x

#191 Fix alert constructor
  src/test/java/org/opensearch/agent/tools/SearchAlertsToolTests.java
  src/test/resources/org/opensearch/agent/tools/alerting/alert_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/alerting/sample_alert.json
Labels: backport 2.x

#195 Fix failure ITs caused by ml-common error handling change
  src/test/java/org/opensearch/integTest/NeuralSparseSearchToolIT.java
  src/test/java/org/opensearch/integTest/SearchIndexToolIT.java
Labels: backport 2.x

#190 Fixed POM to include inception year
  build.gradle
Labels: backport 2.x, infra, backport 2.12

#203 Fix json parsing exception for NeuralSparseSearchTool and VectorDBTool
  src/main/java/org/opensearch/agent/tools/AbstractRetrieverTool.java
  src/main/java/org/opensearch/agent/tools/NeuralSparseSearchTool.java
  src/main/java/org/opensearch/agent/tools/VectorDBTool.java
  src/test/java/org/opensearch/agent/tools/NeuralSparseSearchToolTests.java
  src/test/java/org/opensearch/agent/tools/VectorDBToolTests.java
  src/test/java/org/opensearch/integTest/NeuralSparseSearchToolIT.java
Labels: backport 2.x

#207 Fixed build script to run assemble
  scripts/build.sh
Labels: backport 2.x, backport 2.12

#212 Fixed build for 2.12
  build.gradle
Labels: backport 2.x, infra, backport 2.12

#213 Added release notes for 2.12
  release-notes/skills.release-notes-2.12.0.0.md
Labels: documentation, backport 2.x

#217 Minor leftovers
  build.gradle
Labels: infra

#223 Excluding delete system index tests from a security enabled cluster
  .github/workflows/test_security.yml
  build.gradle
Labels: infra

#225 Onboard search AD and search monitor tools to security-enabled IT
  build.gradle
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
  src/test/java/org/opensearch/integTest/SearchMonitorsToolIT.java
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/detectors_index_mappings.json
Labels: backport 2.x, infra

#229 fix VisualizationsToolIT
  src/test/java/org/opensearch/integTest/PromptHandler.java
Labels: backport 2.x, backport 2.12

#233 Fix SearchAnomalyDetectorsTool indices param bug; add more IT
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
  src/test/resources/org/opensearch/agent/tools/alerting/register_flow_agent_of_search_alerts_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/alerting/register_flow_agent_of_search_monitors_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/register_flow_agent_of_search_anomaly_detectors_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/register_flow_agent_of_search_anomaly_results_tool_request_body.json
Labels: backport 2.x

#235 Fix detector state params in SearchAnomalyDetectorsTool
  src/main/java/org/opensearch/agent/ToolPlugin.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/test/java/org/opensearch/agent/TestHelpers.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyDetectorsToolTests.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyResultsToolTests.java
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyResultsToolIT.java
Labels: backport 2.x

#241 Updated release notes file name
  release-notes/opensearch-skills.release-notes-2.12.0.0.md
Labels: documentation, backport 2.x
