Repository opensearch-project/skills, pull requests merged in 2024-01, with the labels that each got.

#86 Base class for Integ test; add integ test for NeuralSparseSearchTool
  build.gradle
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/NeuralSparseSearchToolIT.java
  src/test/java/org/opensearch/integTest/OpenSearchSecureRestTestCase.java
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_neural_sparse_search_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/register_sparse_encoding_model_request_body.json
Labels: backport 2.x, infra

#93 fix: some parsing exception from search index tool.
  src/main/java/org/opensearch/agent/tools/SearchIndexTool.java
  src/test/java/org/opensearch/agent/tools/SearchIndexToolTests.java
Labels: backport 2.x

#88 Integrate search detectors tool with profile API
  build.gradle
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/utils/ToolConstants.java
  src/test/java/org/opensearch/agent/TestHelpers.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyDetectorsToolTests.java
Labels: backport 2.x, infra

#98 provide PPL for querying system indices
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/test/java/org/opensearch/agent/tools/PPLToolTests.java
Labels: backport 2.x

#92 Mock http server for LLM; Integration test for visualization tool
  build.gradle
  src/main/java/org/opensearch/agent/tools/VisualizationsTool.java
  src/test/java/org/opensearch/integTest/MockHttpServer.java
  src/test/java/org/opensearch/integTest/PromptHandler.java
  src/test/java/org/opensearch/integTest/ToolIntegrationTest.java
  src/test/java/org/opensearch/integTest/VisualizationsToolIT.java
Labels: backport 2.x, infra

#101 ignore alias field
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#89 copy zip to output folder
  scripts/build.sh
Labels: backport 2.x

#104 Add ppl tool it
  src/test/java/org/opensearch/integTest/PPLToolIT.java
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_ppl_tool_request_body.json
Labels: backport 2.x

#100 fix: update search index tool parse logic
  src/main/java/org/opensearch/agent/tools/SearchIndexTool.java
  src/test/java/org/opensearch/agent/tools/SearchIndexToolTests.java
Labels: backport 2.x

#108 test: integration test for search index tool
  src/test/java/org/opensearch/integTest/SearchIndexToolIT.java
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_search_index_tool_request_body.json
Labels: backport 2.x

#111 Set default index pattern for search AD results tool
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/utils/ToolConstants.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyResultsToolTests.java
Labels: backport 2.x

#114 fix compile error
  src/main/java/org/opensearch/agent/tools/NeuralSparseSearchTool.java
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/main/java/org/opensearch/agent/tools/RAGTool.java
  src/main/java/org/opensearch/agent/tools/SearchAlertsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/SearchIndexTool.java
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
  src/main/java/org/opensearch/agent/tools/VectorDBTool.java
  src/main/java/org/opensearch/agent/tools/VisualizationsTool.java
  src/test/java/org/opensearch/agent/tools/AbstractRetrieverToolTests.java
Labels: backport 2.x

#117 Various AD tool improvements; add corresponding IT
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/utils/ToolConstants.java
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyResultsToolIT.java
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_search_anomaly_results_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_search_detectors_tool_request_body.json
Labels: backport 2.x

#122 feat: update search index tool description
  src/main/java/org/opensearch/agent/tools/SearchIndexTool.java
Labels: backport 2.x

#121 Add description for VectorDBTool and remove json parsing for RAGTool
  src/main/java/org/opensearch/agent/tools/RAGTool.java
  src/main/java/org/opensearch/agent/tools/VectorDBTool.java
  src/test/java/org/opensearch/agent/tools/RAGToolTests.java
Labels: backport 2.x

#120 feature: tune description on monitor and anomaly detection
  src/main/java/org/opensearch/agent/tools/SearchAlertsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
Labels: backport 2.x

#125 Add default prompt to ppl tool
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/main/resources/org/opensearch/agent/tools/PPLDefaultPrompt.json
  src/test/java/org/opensearch/agent/tools/PPLToolTests.java
Labels: backport 2.x

#133 fix prompt
  src/main/resources/org/opensearch/agent/tools/PPLDefaultPrompt.json
Labels: backport 2.x

#135 Add alerting tools IT; fix missing system index bug of SearchMonitorsTool
  build.gradle
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
  src/main/java/org/opensearch/agent/tools/utils/ToolConstants.java
  src/test/java/org/opensearch/integTest/SearchAlertsToolIT.java
  src/test/java/org/opensearch/integTest/SearchMonitorsToolIT.java
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_search_alerts_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/register_flow_agent_of_search_monitors_tool_request_body.json
Labels: backport 2.x, infra

#139 fix name bug
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#143 Include more return values for SearchAnomalyDetectorsTool and SearchMonitorsTool
  src/main/java/org/opensearch/agent/tools/SearchAlertsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyDetectorsToolTests.java
  src/test/java/org/opensearch/agent/tools/SearchMonitorsToolTests.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
Labels: backport 2.x

#146 add execute field
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/test/java/org/opensearch/agent/tools/PPLToolTests.java
Labels: backport 2.x

#148 Change default anomaly grade to nonzero for SearchAnomalyResultsTool
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
Labels: backport 2.x

#140 Enhance RagTool to choose neural sparse query type
  .github/workflows/ci.yml
  src/main/java/org/opensearch/agent/tools/RAGTool.java
  src/main/java/org/opensearch/agent/tools/VectorDBTool.java
  src/test/java/org/opensearch/agent/tools/RAGToolTests.java
  src/test/java/org/opensearch/agent/tools/VectorDBToolTests.java
  src/test/resources/org/opensearch/agent/tools/neural_sparse_tool_search_response.json
Labels: backport 2.x

#151 Fix SearchMonitorsTool bugs; add corresponding ITs
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
  src/test/java/org/opensearch/agent/tools/SearchAnomalyDetectorsToolTests.java
  src/test/java/org/opensearch/agent/tools/SearchMonitorsToolTests.java
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/SearchMonitorsToolIT.java
Labels: backport 2.x

#154 Tune AD and alerting tool descriptions
  src/main/java/org/opensearch/agent/tools/SearchAlertsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/SearchAnomalyResultsTool.java
  src/main/java/org/opensearch/agent/tools/SearchMonitorsTool.java
  src/test/java/org/opensearch/agent/tools/SearchMonitorsToolTests.java
Labels: backport 2.x

#157 Fix boolean parse
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#156 Fix onboarding skills repo issues
  build.gradle
  settings.gradle
Labels: backport 2.x, infra

#159 Change publish workflow
  .github/workflows/maven-publish.yml
Labels: backport 2.x, infra

#161 Change jdk version
  .github/workflows/maven-publish.yml
Labels: backport 2.x, infra

#150 Fix the flaky test due to m_l_limit_exceeded_exception
  .github/workflows/ci.yml
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/NeuralSparseSearchToolIT.java
  src/test/java/org/opensearch/integTest/ToolIntegrationTest.java
Labels: backport 2.x

#166 Change 2.x maven-publish repo name to be skills and sync with main branch
  .github/workflows/maven-publish.yml
Labels: bug, release, v2.12.0

#165 Improve IT coverage of all AD & Alerting tools
  src/main/java/org/opensearch/agent/tools/SearchAnomalyDetectorsTool.java
  src/main/java/org/opensearch/agent/tools/utils/ToolConstants.java
  src/test/java/org/opensearch/integTest/BaseAgentToolsIT.java
  src/test/java/org/opensearch/integTest/SearchAlertsToolIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyDetectorsToolIT.java
  src/test/java/org/opensearch/integTest/SearchAnomalyResultsToolIT.java
  src/test/java/org/opensearch/integTest/SearchMonitorsToolIT.java
  src/test/resources/org/opensearch/agent/tools/alerting/alert_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/alerting/alerting_config_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/alerting/register_flow_agent_of_search_alerts_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/alerting/register_flow_agent_of_search_monitors_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/alerting/sample_alert.json
  src/test/resources/org/opensearch/agent/tools/alerting/sample_monitor.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/detectors_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/register_flow_agent_of_search_anomaly_detectors_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/register_flow_agent_of_search_anomaly_results_tool_request_body.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/results_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/sample_detector.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/sample_index_mappings.json
  src/test/resources/org/opensearch/agent/tools/anomaly-detection/sample_result.json
Labels: backport 2.x
