Repository opensearch-project/skills, pull requests merged in 2025-01, with the labels that each got.

#484 Add Hailong Cui as skills Maintainer
  MAINTAINERS.md
Labels: backport 2.x

#485 Add Binlong Gao as skills Maintainer
  MAINTAINERS.md
Labels: backport 2.x

#492 [Backport 2.x] add multi tenacy support (#489)
  src/main/java/org/opensearch/agent/tools/CreateAnomalyDetectorTool.java
  src/main/java/org/opensearch/agent/tools/PPLTool.java
  src/main/java/org/opensearch/agent/tools/RAGTool.java
Labels: v2.19.0

#500 fix ppl bug
  build.gradle
  src/main/java/org/opensearch/agent/tools/PPLTool.java
Labels: backport 2.x

#503 Remove trailing space on 2.19.0.0 release notes file name
  release-notes/opensearch-skills.release-notes-2.19.0.0.md
Labels: release, v2.19.0, backport 2.19

#505 Change JS dependency to compileOnly caused by JS a dependency of ml-commons
  build.gradle
Labels: backport 2.x, backport 2.19

#508 Fix CVE caused by jetty-http introduced in spark-core
  build.gradle
Labels: backport 2.x, backport 2.19
